
bbody {
  margin: 0;
  font-family: Arial, sans-serif;
}

.logo {
  font-weight: bold;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: block;
  font-size: 22px;
  cursor: pointer;
}

nav {
  display: none;
  flex-direction: column;
  background: #91c3e0;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  border-top: 1px solid #082fa6d1;
}


nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 15px;
  border-bottom: 1px solid #1433a6;
  display: block;
}

#menu-toggle:checked ~ nav {
  display: flex;
}





