Estilos para footer 

footer {
    background-color: #222; 
    color: #0b0a0a; 
    text-align: center; 
    padding: 20px 10px;
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    }


.footer-content nav a { 
    margin: 5px 0 15px; 
}

.footer-content nav a {
    color: #060505; 
    text-decoration: none; 
    margin: 0 10px; 
    transition: color 0.3s; 
}

.footer-content nav a:hover {
    color: #0ae972;
}

.footer-content {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: Center; 
    text-align:center; 
}

.footer-content .logo img {
    margin.bottom: 10px;

}